<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Course</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark" style="padding:16px 100px;">
        <div style="display:flex; justify-content: space-between; align-items: center; width: 100%;">
            <div style="width: 100%;">
                <h1 style="color: white;">Joeferson Go</h1>
            </div>
            
            <div style="width: 100%;">
                <ul class="navbar-nav" style="display:flex; flex-direction: row; justify-content: flex-end;">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{% url 'movies_list' %}" style="padding-right: 24px;">Movies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'courses_list' %}">Courses</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <h1>Create a Course</h1>
    <br/>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">
    </form>
</body>
</html>